<!DOCTYPE html>
{% load staticfiles %}
{% csrf_token %}
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="{% static "GameApp/game.css" %}">

      <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="{% static "GameApp/js/angular.min.js" %}"> </script>
      <script type="text/javascript" src="{% static "GameApp/js/ball.js" %}"> </script>
      
      <title> game </title>

  </head>
  <h1 class="topheader"> WallTheBall </h1> 
  {% block logout %}
  {% endblock %}
  <body>
  {% block Game %}
  {% endblock %}

  {% block Score %}
  {% endblock %}
  </body>
</html>
