{% extends "base.html" %}
{% load static %}

{% block logout %}
  <hr>
  <form action="logout">
      <input type="submit" id="logout" value="Logout" class="btn btn-success" style="float:right">
  </form>
{% endblock %}

{% block Game %}
   <div ng-app="ngBall" ng-controller="ballCtrl">
       <div>
           Score: <div ng-bind="score" id="div" data-user={{user}}> </div> &nbsp; &nbsp;
           Mode: <div ng-bind="mode" id="div"></div> &nbsp; &nbsp;
           Life: <div ng-bind="life" id="div"></div> &nbsp; &nbsp;
           Percent: <div ng-bind="percent" id="div"></div> &nbsp; &nbsp;
           HighScore:<div id="div"> {% for s in hs_list %} {{ s.score }} {% endfor %}</div>
       </div>
       
       <div>
         <div id="startGame" ng-click="startGame()"> New Game </div> 
         <a href="/scores"> Scores</a>
       <div>

       <div ng-mouse-wheel-up="mode='H'" ng-mouse-wheel-down="mode='V'">
          
          <div class="game-overlay" ng-if="isGameOver">Game Over <br> 
             Score: <div ng-bind="score" id="div"></div>
          </div>
           
          <div class="game-overlay" ng-if="nextlevel">Next level <br>
              <div id="startGame" ng-click="nextLevel()"> Okay </div>
          </div>

          <div class="row" ng-repeat="column in board track by $index" >
                <div class="column"  ng-style="{'background-color': setStyling($parent.$index, $index)}" ng-repeat="row in column track by $index" ng-click="startLine($parent.$index,$index)"></div>
                <div  ng-repeat="ball in balls" ball-position="ball"></div>
          </div>         
       </div>
       
       <script type="text/javascript">
          function getCookie(name){
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                   }
               }
             }
             return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');
         
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
               if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
               }
            }
          });
       </script>
       
   </div>
{% endblock %}
