{% extends "base.html" %}
{% load static %}

{% block logout %}
      <hr>
      <form action="logout">
             <input type="submit" id="logout" value="Logout" class="btn btn-success" style="float:right">
      </form>
{% endblock %}

{% block Game %}
   <div ng-app="ngBall" ng-controller="ballCtrl">
       <div>
           Score: <div ng-bind="score" >  </div>
           mode: <div ng-bind="mode"> </div>
       </div>
       <div id="startGame" ng-click="startGame()"> New Game </div>

       <div ng-mouse-wheel-up="mode='H'" ng-mouse-wheel-down="mode='V'">
          <div class="row" ng-repeat="column in board track by $index">
                <div class="column"  ng-style="{'background-color': setStyling($parent.$index, $index)}" ng-repeat="row in column track by $index" ng-click="startLine($parent.$index,$index)"></div>
                <div  ng-repeat="ball in balls" ball-position="ball"></div>
          </div>         
       </div>
       
   </div>
{% endblock %}
