<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <title> game </title>
  </head>
 
  <body style="color:teal">
  <h1 align='center'> game </h1>
  <hr>
  {% block login %}
  {% endblock %}
  
  {% block Game %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block logout %}
  {% endblock %}
</html>
