{% extends "base.html" %}

{%block login%}
    <form action="/login" method="post"> {% csrf_token%}
         {% for field in auth_form %}
         {{ field }}
         {% endfor %}
         <input type="submit" id="login" value="Log In">
    </form>
    <br>
    <p> OR </p>
    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
    <hr>
{% endblock %}

{% block content %}
{% if auth_form.non_field_errors %}
<div>
     {{ auth_form.non_field_errors }}   
</div>
{% endif %}
<div>
    <h3 align="center">Signup for free! </h3>
    <p>
        <form action="/signup" method="post">{% csrf_token %}
            {% for field in user_form %}
            {{ field }}
            <br>
            {{ field.errors }}
            {% endfor %}
            <input type="submit" id="signup" value="Create your Account!">
         </form>
         <hr>
    </p>
</div>
{% endblock %}
