*{
   font-family: "Lucida Grande";
  }

.topheader {
   text-align:center;
   color: teal;
}

#div {
   display:inline-block;
}

#table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 500px;
}

#td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#td:nth-child(even) {
   background-color: #dddddd;
}
.game-overlay {
    width: 860px;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: inherit;
    left: inherit;
    z-index: 10;
    font-size:35px;
    text-align: center;
    overflow: hidden;
    padding-top:150px;
    padding-bottom:255px;
    box-sizing: border-box;
                       
    .lower {
     display: block;
     margin-top: 29px;
     font-size: 20px;
     }
}
#startGame {
    width: 120px;
    display:inline-block;
    margin-left:340px;
    padding: 10px;
    text-align: center;
    background-color: teal;
    color: white;
}

#startGame:hover {
    color: black;
    cursor: pointer;
}

.gameContainer {
    width:850px;
    float:left;
}

.circle {
    display:inline-block;
    position:absolute;
    height: 20px;
    width: 20px;
    background-color: #000000;
    border-radius: 20px;
    border-color: 1px solid black;
}

.row {
  margin-left:0px;
  height: 21px;
}

.column {
  border:1px solid #a4c1d0;
  width:21px;
  height:21px;
  display:inline-block;
}

.column:hover {
   cursor:pointer;
   border:1px solid #5b9aa0;
}
