*{
   font-family: "Lucida Grande";
  }

.topheader {
   text-align:center;
   color: teal;
}

#startGame {
    width: 120px;
    margin-left:240px;
    padding: 10px;
    text-align: center;
    background-color: teal;
    color: white;
}               

.gameContainer {
    width:600px;
    height:450px; 
    background-color:black;
    color: teal; 
}
